.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  font-size: large;
  font-style: normal;
  font-family:'Lucida Sans';
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}

.qb {width: 90%; background-color: #4400ff;}
.py {width: 85%; background-color: #ff5e00;}
.html {width: 80%; background-color: rgb(54, 221, 60);}
.css {width: 20%; background-color: #2196F3;}
.js {width: 5%; background-color: #ff019e;}
