.back-button {
    background-color: #7c7c7c;
    border: none;
    color: rgb(255, 255, 255);
    padding: 1% 30%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    
  }
  
.back-button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1% 30%;
  }